@media (max-width: 1800px){
	.other-products-carousel{
		overflow: hidden;
		@x : -50px;
		&:before{
			left: @x;
		}
		&:after{
			right: @x
		}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 335px;
				.owl-prev{
					left: @x;
				}
				.owl-next{
					right: @x;
				}
			}
		}
	}
}


@media (max-width: 1720px){
	.other-products-carousel{
		overflow: hidden;
		@x : -50px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 318px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}

}


@media (max-width: 1620px){
	.other-products-carousel{
		@x : -90px;
		&:before{left: @x;}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 300px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 1616px){
	.other-products-carousel{
		@x : 0;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 380px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}



@media (max-width: 1560px){
	.other-products-carousel{
		@x : 0;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 365px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 1500px){
	.other-products-carousel{
		@x : 0;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 348px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 1450px){
	.other-products-carousel{
		@x : -50px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 340px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}

@media (max-width: 1400px){
	.other-products-carousel{
		@x : -50px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 325px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}



@media (max-width: 1310px){
	.other-products-carousel{
		@x : -80px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 300px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}



@media (max-width: 1280px){
	.other-products-carousel{
		@x : -70px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 295px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}



@media (max-width: 1250px){
	.other-products-carousel{
		@x : -80px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 285px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}





@media (max-width: 1199px){
	@wg: 369px;
	.grid-item {
		width: @wg;
	}

	.grid-item--width2 {
		width: @wg*2;
	}

	.other-products-carousel{
		@x : -90px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 275px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}

}


@media (max-width: 1181px){
	@wg: 367px;
	.grid-item {
		width: @wg;
	}

	.grid-item--width2 {
		width: @wg*2;
	}
}


@media (max-width: 1175px){
	@wg: 360px;
	.grid-item {
		width: @wg;
	}

	.grid-item--width2 {
		width: @wg*2;
	}
}


@media (max-width: 1154px){
	@wg: 350px;
	.grid-item {
		width: @wg;
	}

	.grid-item--width2 {
		width: @wg*2;
	}

	.other-products-carousel{
		@x : -110px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 264px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 1124px){
	@wg: 340px;
	.grid-item {
		width: @wg;
	}

	.grid-item--width2 {
		width: @wg*2;
	}
}

@media (max-width: 1093px){
	@wg: 320px;
	.grid-item {
		width: @wg;
	}

	.grid-item--width2 {
		width: @wg*2;
	}

	.other-products-carousel{
		@x : -120px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 250px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 1035px){
	@wg: 310px;
	.grid-item {
		width: @wg;
	}

	.grid-item--width2 {
		width: @wg*2;
	}

	.other-products-carousel{
		@x : -140px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 235px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 1016px){
	.other-products-carousel{
		@x : -60px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 312px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 1004px){
	@wg: 300px;
	.grid-item {
		width: @wg;
	}
	.grid-item--width2 {
		width: @wg*2;
	}
}





@media (max-width: 991px){
	.other-products-carousel{
		@x : -70px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 300px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}

@media (max-width: 924px){
	.other-products-carousel{
		@x : -90px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 275px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 860px){
	.other-products-carousel{
		@x : -110px;
		&:before{left: @x}
		&:after{right: @x}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 255px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}


@media (max-width: 816px){
	.other-products-carousel{
		&:before,
		&:after{
			display: none;
		}
	}
	.other-products{
		.owl-carousel{
			.owl-buttons{
				@x : 10px;
				.owl-prev{left: @x}
				.owl-next{right: @x}
			}
		}
	}
}



@media (max-width: 790px){
	.grid-item--width2{
		width: 100%;
	}
	.home-catalog .image img{
		max-width: 100%;
		width: auto;
		height: auto;

	}
}

@media (max-width: 974px){
	@wg: 285px;
	.grid-item {
		width: @wg;
	}
	.grid-item--width2 {
		width: @wg*2;
	}
}


@media (max-width: 930px){
	@wg: 265px;
	.grid-item {
		width: @wg;
	}
	.grid-item--width2 {
		width: @wg*2;
	}
}


@media (max-width: 870px){
	@wg: 255px;
	.grid-item {
		width: @wg;
	}
	.grid-item--width2 {
		width: @wg*2;
	}
}


@media (max-width: 838px){
	@wg: 235px;
	.grid-item {
		width: @wg;
	}
	.grid-item--width2 {
		width: @wg*2;
	}
}


@media (max-width: 782px){
	@wg: 215px;
	.grid-item {
		width: @wg;
	}
	.grid-item--width2 {
		width: @wg*2;
	}
}



@media (max-width: 768px){
	.filter .option{
		display: block;
		margin-top: 15px;
	}

	.grid-item {
		width: 50%;
	}

	.home-catalog{
		.grid-item--width2 .image{
			margin-top: 50px;
		}
	}

	.last-news{
		.col-xs-12{
			margin-bottom: 20px;
		}
	}

	.outerwrapper{
		min-height: auto;
		padding-bottom: 0;
	}

	.subscribe{
		height: auto;
		p{
			line-height: 1.3
		}
	}
	.subscribe__form{
		// margin-top: 20px;
		width: 90%;
		input.form-control{
			margin-bottom: 20px;
			width: 100%;
		}
	}
}



@media (max-width: 767px){
	.product-info{
		.buy{
			margin-bottom: 25px;
		}
		.author{
			text-align: center;
		}
		.description{
			padding-top: 30px;
			.text{
				margin-top: 10px;
				line-height: normal;
			}
		}
	}
}

@media (max-width: 700px){

}

@media (max-width: 617px){
	.home-catalog{
		.grid-item{
			width: 100% !important;
			position: static !important;
		}

		.item{
			.price-buy-wrapper{
				float: right;
				width: 65%;
			}
			.title{
				font-size: 18px;
				padding-top: 10px;
			}
			.title,
			.price-buy{
				padding-left: 0 !important;
				position: static;
				text-align: left;
			}

			.price-buy{
				padding-top: 10px;
				.price{
					margin-left: 0;
					font-size: 22px;
				}
				.buy{
					font-size: 20px;
				}
			}
			.list-item-product{
				overflow: hidden;
				height: auto;
				padding-top: 20px;
				padding-bottom: 20px;
				position: relative;
			}

		}
		.grid-item--width2 .image{
			margin-top: 20px;
		}

		.transform-image{
			width: 30%;
			float: left;
			// position: static;
			// position: absolute;
			top: 20px;
		}
	}

	.product-foto{
		img{
			max-width: 100%;
			height: auto;
		}
	}

	.product-gallery ul li{
		width: 50%;
		margin-bottom: 30px;
		&.back{
			display: none;
		}
		&.active{
			&:after{
				background: #e14e2d none repeat scroll 0 0;
				border-radius: 5px;
				bottom: 0;
				content: "";
				display: block;
				height: 5px;
				left: 50%;
				margin-left: -27px;
				position: absolute;
				width: 53px;
			}
		}
	}

	.home-catalog, .other-products-carousel{
		.item .list-item-product{
			padding-left: 10px;
			padding-right: 0;
		}
	}

}


@media (max-width: 565px){
	.header{
		.logo{
			text-align: center;
			float: none;
			display: block;

		}
		.navbar{
			text-align: center;
			padding-top: 20px;
			margin-bottom: 0;
			.navbar-toggle{
				float: none;
			}
			ul{
				margin-top: 10px;
				li{
					display: block;
					float: none;
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}
	.grid-item {
		width: 100%;
	}

	.home-catalog, .other-products-carousel{
		.item .list-item-product{
			padding-right: 0;
		}
	}

	.home-catalog .item .title{
		margin-left: 35%;
		width: auto;
		padding-right: 0;
		font-size: 16px;
		left: 0;
	}

	.filter .all, .filter .title{
		display: block;
		padding-bottom: 5px;
	}

	footer{
		padding-top: 0;
		.menu{
			li{
				display: block;
				margin-bottom: 5px;
			}
		}
		.bottom{
			text-align: center;
			.kuzma{
				padding-top: 10px;
				text-align: center;
			}
		}
	}

	.other-products{
		.owl-carousel{
			.owl-buttons{
				display: none;
			}
		}
	}
}



@media (max-width: 485px){
	.home-catalog{
		.grid-item{
			float: none;
		}
		margin-bottom: 0;
		.home-catalog-grid-items{
			height: auto !important;
			display: block;
		}
		.item .price-buy .buy{
			display: block;
			padding-left: 0;
			margin-top: 5px;
			margin-left: 0;
			font-size: 18px;
		}
	}

	.product-gallery{
		margin-bottom: 0;
		ul li{
			width: 100%;
		}
	}
}
