@media (max-width: 1199px){
}

@media (max-width: 1024px){
}

@media (max-width: 991px){
}

@media (max-width: 767px){
	footer{
		height: auto;
		margin-top: 0;
		padding-bottom: 15px;
		.logo{
			text-align: center;
		}
		.social{
			text-align: center;
		}
	}

}

@media (max-width: 700px){
	.header.fixed{
		position: static;
	}

	.bodyFixed .main{
		margin-top: 0;
	}	

	.scroll{
		opacity: 1 !important;
	}
}
